<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004343008206-tq0tcsb4fv24mbl3t04rgm7a5kmocdrd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004343008206-tq0tcsb4fv24mbl3t04rgm7a5kmocdrd</string>
	<key>API_KEY</key>
	<string>AIzaSyCHJyzuhFKwf65EcphoyHZrrGGwrixD59I</string>
	<key>GCM_SENDER_ID</key>
	<string>1004343008206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thecratel.cratel</string>
	<key>PROJECT_ID</key>
	<string>cratel-e79e0</string>
	<key>STORAGE_BUCKET</key>
	<string>cratel-e79e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004343008206:ios:f1064940484ae5ca07a99f</string>
</dict>
</plist>